@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("/img/bg.webp");
    @apply font-main bg-cover bg-fixed bg-center bg-black;
  }

  a {
    @apply text-primary transition-colors duration-300;
  }

  a:hover {
    @apply no-underline text-primaryHover;
  }

  iframe {
    height: 100vh;
    width: 100wv;
  }

  .youtubeContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .youtubeContainer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
